body {
  background-color: #f7f6f2;
  font-family: 'Apple SD Gothic Neo', Verdana, Tahoma, sans-serif;
}



/* HEADER */
.brand-logo {
  width: 144px;
  height: 31px;
}
.search-header {
  width: 515px !important;
  height: 56px;
  opacity: 0.8;
  border-radius: 1.25rem;
  background-color: #eae9e4;
  border: none;
}
.search-header-btn {
  width: 40px;
  height: 40px;
  position: relative;
  right: 60px;
}



/* SIDEBAR */
/* Position and sizing of burger button */
.bm-burger-button {
  width: 26px;
  height: 24px;
  margin-right: 21px;
}
#react-burger-menu-btn {
  width: 47px !important;
  height: 46px !important;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
}
/* General sidebar styles */
.bm-menu {
  background: #ecece6;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
.toggle-title {
  color: #fc621b !important;
  font-size: .80em !important;
  margin-top: 70px !important;
}
/* Individual item */
.bm-item {
  display: inline-block;
  color: #000000;
  margin-top: 12px;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
}



/* HOME */
.search-btn {
  width: 56px;
  height: 56px;
  position: relative;
  left: 722px;
  bottom: 65px;
}
.search-bar {
  width: 49.2rem;
  height: 4.5rem;
  opacity: 0.8;
  border-radius: 1.5rem;
  border: none;
  background-color: #eae9e4;
}



/* RECIPE LIST */
#list-container {
  width: 90%;
  margin: 2.5rem 10rem 0rem; 
}
.letter {
  border-radius: 100% !important;
  background-color: #eae9e4;
  color: #000000;
  border: none;
  margin-right: 0.5rem;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
  background-color: #fc621b;
  border-color: #fc621b; 
}



/* RECIPE CARD */
.bookmark {
  width: 40px;
  height: 40px;
  float: right;
}



/* RECIPE DETAILS */
#details-container {
  /* width: 100%; */
  max-height: 643px;
  margin: 4rem 10rem 0rem;
}
#details-content {
  margin-top: 5rem;
}
#icon-list {
  margin-top: 0.5rem;
  max-height: 75px;
}
.icon {
  width: 75px;
  height: 75px;
  margin-right: 0.5rem;
}
#instructions {
  float: right;
  width: 515px;
}
#ingredients {
  float: right;
  width: 515px;
  margin-left: 100px;
}
li {
  list-style: none;
  margin-top: 1.25rem;
}
li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #fc621b; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
}
