body {
  background-color: #f7f6f2;
  font-family: 'Apple SD Gothic Neo', Verdana, Tahoma, sans-serif;
}



/* HEADER */
.brand-logo {
  width: 144px;
  height: 31px;
}
.search-header {
  width: 515px !important;
  height: 56px;
  opacity: 0.8;
  border-radius: 1.25rem;
  background-color: #eae9e4;
  border: none;
}
.search-header-btn {
  width: 40px;
  height: 40px;
  position: relative;
  right: 60px;
}



/* SIDEBAR */
/* Position and sizing of burger button */
.bm-burger-button {
  width: 26px;
  height: 24px;
  margin-right: 21px;
}
#react-burger-menu-btn {
  width: 47px !important;
  height: 46px !important;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
}
/* General sidebar styles */
.bm-menu {
  background: #ecece6;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
.toggle-title {
  color: #fc621b !important;
  font-size: .80em !important;
  margin-top: 70px !important;
}
/* Individual item */
.bm-item {
  display: inline-block;
  color: #000000;
  margin-top: 12px;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
}



/* HOME */
.search-btn {
  width: 56px;
  height: 56px;
  position: relative;
  left: 722px;
  bottom: 65px;
}
.search-bar {
  width: 49.2rem;
  height: 4.5rem;
  opacity: 0.8;
  border-radius: 1.5rem;
  border: none;
  background-color: #eae9e4;
}



/* RECIPE LIST */
#list-container {
  width: 90%;
  margin: 38px 160px 0px; 
  padding: 0px;
}
.letter {
  border-radius: 100% !important;
  background-color: #eae9e4;
  color: #000000;
  border: none;
  margin-right: 0.5rem;
}



/* RECIPE CARD */
.bookmark {
  width: 40px;
  height: 40px;
  float: right;
}



/* RECIPE DETAILS */
.back {
  width: 52px;
  height: 52px;
  margin-top: 61px;
  float: left;
}
.top-detail {
  width: 1057px;
  height: 563px;
  margin: 0px 432px 120px 219px;
  float: left;
}
.top-detail-above {
  width: 1057px;
  height: 75px;
  margin-bottom: 48px;
}
.detail-img {
  width: 101px;
  height: 75px;
  border-radius: 8px;
  background-color: #dfdfdf;
  float: left;
}
.link {
  width: 75px;
  height: 75px;
  float: right;
}
.detail-title {
  width: 516px;
  height: 90px;
  font-size: 32px;
  margin-bottom: 33px;
  float: left;
}
.detail-ogING-box {
  width: 243px;
  height: 436px;
  float: right;
  margin-right: 28px;
}
.detail-ogING {
  width: 243px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #fc621b;
  color: #ffffff;
  margin-bottom: 6px;
}
.detail-ing-box {
  width: 243px;
  height: 436px;
  float: right;
}
.detail-ing {
  width: 243px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #000000;
  float: right;
  margin-bottom: 6px;
}
.icon-box {
  width: 40px;
  height: 120px;
}
.detail-heart {
  width: 40px;
  height: 40px;
  float: left;
}
.detail-bookmark {
  width: 40px;
  height: 40px;
  float: left;
}
.detail-share {
  width: 40px;
  height: 40px;
  float: left;
}
.more {
  width: 422px;
  height: 21px;
  margin: 0px 749px 54px;
  font-size: 16px;
  text-align: center;
}
